@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato-Regular', sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

ul,
li {
  padding: 0;
  margin: 0;
  display: block;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #26272d;
}

h2 {
  color: #3a3d4b;
  font-family: "Varela Round";
  font-size: 42px;
  font-weight: 400;
  line-height: 52px;
}

p {
  color: #8c8f94;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.blue-btn {
  padding: 13px;
  width: 212px;
  border-radius: 21px;
  background-color: #267df4;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}

p,
div,
a,
span,
button {
  box-sizing: border-box;
}

/*Первый экран*/

header {
  background: url(../img/bcgr.jpg) center top/cover;
  padding-top: 50px;
  padding-bottom: 500px;
}

.header__container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  color: #26272d;
}

.menu__list li {
  margin-right: 40px;
}

.menu__link {
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  color: #26272d;
}

.header__logo {
  text-transform: uppercase;
  font-size: 17px;
}

.menu__list {
  display: flex;
  justify-content: center;
}

.menu2__item {
  margin-right: 40px;
}

.menu2__item a {
  font-size: 16px;
}

.app {
  width: 130px;
  background: #267df4;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  display: block;
  margin-top: -10px;
}

.title {
  font-family: 'VarelaRound-Regular', sans-serif;
  font-size: 62px;
  text-align: center;
  font-weight: normal;
  margin-top: 120px;
}

.text {
  font-size: 20px;
  color: #8c8f94;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.act {
  width: 200px;
  border-radius: 50px;
  border: 1px solid #dadcde;
  padding: 10px 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
}

/*description*/

#description {
  padding-top: 122px;
  padding-bottom: 200px;
}

.description {
  display: flex;
  justify-content: space-between;
}

.descr-left {
  flex: 0 1 47%;
}

.descr-left span {
  display: block;
  margin-top: 24px;
}

.descr-right {
  flex: 0 1 47%;
}

.descr-right span {
  display: block;
  margin-top: 24px;
}

.offers {
  overflow: hidden;
}

.offer__content {
  flex: 0 0 100%;
  display: flex;
}

.offer__body {
  padding: 0 0 0 0;
}

.offer__container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.offer__title {
  color: #26272d;
  font-family: "Varela Round";
  font-size: 42px;
  font-weight: 400;
  line-height: 52px;
  text-align: left;
}

.offer__text {
  color: #8c8f94;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
}

.offer__text p:nth-child(1) {
  margin-bottom: 30px;
}

.offer__image img {
  max-width: 100%;
}

.interface {
  background-color: #f5f5f8;
}

.interface__images {
  display: flex;
}

.interface__image {
  flex: 0 1 20%;
  position: relative;
  padding-bottom: 40%;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.full-screen {
  padding: 0;
}

.slider__container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.slider {
  padding-top: 132px;
  padding-bottom: 128px;
  position: relative;
}

.slider__body {
  width: 50%;
  margin: 0 auto;
}

.slider__item {
  text-align: center;
}

.slider img {
  display: block;
  margin: 0 auto;
  margin-bottom: 72px;
}

.slider__title {
  color: #26272d;
  font-family: Lato;
  font-size: 32px;
  font-weight: 300;
  line-height: 38px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.slider__text {
  color: #8c8f94;
  font-size: 20px;
  line-height: 28px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.prevArrow i,
.nextArrow i {
  color: #26292c;
  opacity: 0.2;
  font-size: 50px;
}

.prevArrow {
  position: absolute;
  top: 50%;
  left: 10%;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 10%;
}

.plan {
  padding: 159px 0 191px 0;
  background-color: #f4f4f5;
}

.row {
  display: flex;
  justify-content: space-between;
}

.plan__offer {
  flex: 0 1 33.333%;
}

.plan__choose {
  flex: 0 1 66.667%;
  display: flex;
  align-items: center;
}

.starter {
  padding: 60px 55px 70px 55px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin-left: auto;
}

.starter__title {
  color: #26272d;
  font-family: Lato;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}

.starter__title span {
  color: #26272d;
  font-family: Lato;
  font-size: 11px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  display: block;
  width: 63px;
  height: 28px;
  border-radius: 14px;
  border: 1px solid #26292c;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 30px;
}

.starter__subtitle {
  color: #8c8f94;
  font-size: 20px;
  line-height: 28px;
  line-height: normal;
  margin-bottom: 45px;
}

.starter__list {
  flex: 1 1 auto;
  color: #26292c;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.starter__list li {
  margin-bottom: 25px;
}

.starter__btn {
  margin-top: 61px;
  margin: 61px auto;
}

.pro {
  padding: 40px 55px 50px 55px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #ebebed;
  height: 90%;
}

.pro__title {
  color: #26272d;
  font-family: Lato;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}

.pro__title span {
  color: #26272d;
  font-family: Lato;
  font-size: 11px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  display: block;
  width: 63px;
  height: 28px;
  border-radius: 14px;
  border: 1px solid #26292c;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 30px;
}

.pro__subtitle {
  color: #8c8f94;
  font-size: 20px;
  line-height: 28px;
  line-height: normal;
  margin-bottom: 45px;
}

.pro__list {
  flex: 1 1 auto;
  color: #26292c;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.pro__list li {
  margin-bottom: 25px;
}

.pro__btn {
  margin-top: 22px;
  background: transparent;
  color: #267df4;
  border: 1px solid #267df4;
  border-radius: 100px;
  margin: 22px auto;
}

/*footer*/

.footer {
  padding-top: 87px;
  padding-bottom: 23px;
}

.footer__row {
  display: flex;
  margin-bottom: 50px;
}

.footer__text {
  color: #8c8f94;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
}

.download-btn {
  /* Style for "Download" */
  width: 140px;
  height: 42px;
  margin-bottom: 42px;
  margin-top: 32px;
}

.footer__icons {
  margin-bottom: 152px;
}

.footer__icons i {
  /* Style for "Google Ico" */
  font-size: 15px;
  color: #26272d;
  opacity: 0.3;
  margin-right: 20px;
}

.fa-linkedin {
  margin-right: 0;
}

.column__learn {
  margin-right: 93px;
}

.column__about {
  margin-right: 65px;
}

.column-first {
  flex: 0 1 245px;
}

.columns {
  flex: 0 0 66.667%;
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}

.column h4 {
  /* Style for "Learn More" */
  color: #26272d;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;
}

.column ul li a {
  /* Style for "How it wor" */
  color: #8c8f94;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 36px;
  text-align: left;
}

.footer__footer {
  display: flex;
  align-items: center;
}

.footer__info a {
  padding: 0;
  margin: 0;
  color: #3b55e6;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-decoration: underline;
}

.footer__info {
  /* Text style for "For more f" */
  color: #8c8f94;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  width: 300px;
  font-size: 14px;
}

.footer__logo {
  display: flex;
  margin-left: auto;
  width: 250px;
  color: #26272d;
  font-family: Lato;
  font-size: 9px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;
  /* Text style for "M, ade wit" */
  font-style: normal;
  letter-spacing: 0.9px;
  line-height: normal;
}

.footer__logo span {
  display: block;
  margin-top: 15px;
  margin-right: 10px;
}

@media (min-width: 767px) {
  .offer {
    display: flex;
  }

  .offer__body {
    width: 50%;
    padding: 0 70px 0 0;
  }

  .offer__image {
    position: relative;
    flex: 0 0 50%;
    padding: 0 0 31% 0;
    transform: translate(-100%, 0);
  }

  .offer__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .offer__image_1 {
    flex: 0 0 50%;
    transform: translate(-15%, 0);
    padding: 0 63% 55% 0;
  }

  .offer__content_1 {
    transform: translate(-57%, 0);
  }

  .offer__body_1 {
    margin-left: auto;
  }
}

@media (max-width: 1064px) {
  .description {
    display: block;
  }

  .description h4 {
    text-align: center;
  }

  .descr-left {
    padding: 0 50px;
  }

  .descr-image {
    text-align: center;
  }

  .descr-right {
    padding: 0 50px;
  }

  .row {
    display: block;
  }

  .plan__offer {
    text-align: center;
    margin-bottom: 50px;
  }

  .plan__choose {
    justify-content: center;
  }

  .starter {
    margin: 0;
  }
}

@media (max-width: 801px) {
  .menu__list li {
    margin-bottom: 20px;
    margin-right: 0;
    width: 150px;
    margin: 20px auto;
  }

  .menu__link {
    font-size: 30px;
  }

  .menu__list {
    display: block;
  }

  .menu__icon {
    position: relative;
    width: 40px;
    /* определяем размеры блока */
    height: 35px;
    display: block;
    z-index: 3;
  }

  .menu__icon span {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #26272d;
    left: 0;
    top: 16px;
  }

  .menu__icon:before,
  .menu__icon:after {
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    background: #26272d;
    margin: 0 auto;
  }

  .menu__icon:before {
    top: 5px;
  }

  .menu__icon:after {
    bottom: 5px;
  }

  .menu__icon.active span {
    transform: scale(0);
  }

  .menu__icon.active:before {
    transform: rotate(45deg);
    top: 5px;
  }

  .menu__icon.active:after {
    transform: rotate(-45deg);
    top: 5px;
  }
}

@media (max-width: 800px) {
  .menu__body {
    background-color: #f5f5f8;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 80px 0 20px 0;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
  }

  .menu__body.active {
    opacity: 1;
    visibility: visible;
  }

  .menu__body:after {
    content: '';
    background-color: #f5f5f8;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    opacity: 0;
  }
}

@media (max-width: 767px) {
  .interface {
    display: none;
  }

  .plan__choose {
    display: flex;
    flex-wrap: wrap;
  }

  .starter {
    flex: 0 0 70%;
  }

  .pro {
    flex: 0 0 70%;
  }

  .column-first {
    display: none;
  }

  .columns {
    margin: 0 auto;
  }
}